@import "page_pc";

@media screen and (min-width: 641px) {
	article {
		border: none;
		box-shadow: 0 0 4px $light-back-text-color;
		p {
			border: none;
			border-radius: 0;
		}
		li {
			> ul {
				padding: 1rem;
				border-top: solid 2px change-color($black-color, $lightness: 70%);
				> li {
					list-style: square;
					background-color: transparent;
					box-shadow: none;
					border-radius: 0;
					margin: 0;
					padding: 0;
					color: change-color($black-color, $lightness: 20%);
					font-size: 85%;
					line-height: 2;
				}
			}
		}
	}
}
