a:link {
    text-decoration: none;
}

html {
    background-image: url(/assets/image/bg-image.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    background-attachment: fixed;
}

body {
    box-sizing: border-box;
    margin: 0 auto 240px;
    max-width: 640px;
    padding: 0 10px;
}

h1 {
    margin: 0;
}

article {
    background-color: rgba(255,255,255,0.6);
    color: #403933;
}

#siteTitle {
    text-align: center;
}

#logo {
    width: 200px;
}

#toc {
    background-color: #f5f8fa;
    padding: 10px;
}

#toc ul {

}

@media screen and (orientation: portrait) {
    html {
        background-image: url(/assets/image/bg-image-sp.webp);
        background-position: top right;
    }
}
