a:link {
    color: #0071B0;
    font-weight: 600;
    text-decoration: none;
}
a:visited {
    color: #0086cc;
}
a:hover{
    color: #8AB7D2;
    text-decoration: underline;
}
a:active{
    color: #F6B894;
    text-decoration: underline;
}

html {
    background-image: url(/assets/image/bg-image.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    background-attachment: fixed;
}

body {
    box-sizing: border-box;
    font-family: 'Shippori Mincho', serif;
    font-weight: 500;
    font-size: 1.125rem;
    margin: 0 auto 240px;
    max-width: 40em;
    padding: 0 10px;
}

h1 {
    margin: 0;
}

article {
    background-color: rgba(255,255,255,0.6);
    color: #322b29;
    line-height: 1.7;
}

article a:link {
    color: #0000ee;
}

article a:visited {
    color: #0000ee;
}

strong {
    color: #080000;
    font-weight: 800;
}

#siteTitle {
    text-align: center;
}

#logo {
    width: 200px;
}

#toc {
    background-color: #f5f8fa;
    padding: 10px;
}

#toc ul {

}

@media screen and (orientation: portrait) {
    html {
        background-image: url(/assets/image/bg-image-sp.webp);
        background-position: top right;
    }
}
