<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>
  <body>
    <header>
      <h1 id="siteTitle"><a href="/"><img id="logo" src="/assets/image/myamyu-logo.svg" alt="みゃみゅ玉子" /></a></h1>
    </header>
    <nav>
      {% include toc.html html=content h_min=2 %}
    </nav>
    <main>
      <section id="main-content">
        <article>
          {{ content }}
        </article>
      </section>
    </main>
    {% include mermaid.html %}
  </body>
</html>
