<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		<link rel="stylesheet" href="/css/page.css">
		{% include hreflang.html %}		
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6563838107459717",
    enable_page_level_ads: true
  });
</script>
	</head>
	<body>
		<header>
			<h1>{{page.title}}</h1>
		</header>
		{% include lang_links.html %}
		<main>
			<article>{{content}}</article>
		</main>
		{% if page.url != "/"%}
		<footer>
			<nav>
				<a href="/">About みゃみゅ玉子</a>
			</nav>
		</footer>
		{% endif %}
		{% include ga.html %}
	</body>
</html>
